.logo {
    margin-left: 10px;
}

.circulo {
    border: solid 3px black;
    border-radius: 100%;
    font-size: large;

}

.navbar {
    background-color:burlywood;
}

* {
    font-family: Verdana, Tahoma, sans-serif;
}

.navbar navbar:active{
    border-bottom: 1px solid #000000;
}

.nav-link a:hover{
    color: #7e7e7e;
}