.logo {
    margin-left: 10px;
}

.circulo {
    border: solid 3px black;
    border-radius: 100%;
    font-size: large;

}

.navbar {
    background-color:burlywood;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}